<style>
h1{
    color:red;

}
li{
    color:red;
}
body{
    background-color:black;

}
</style>
<h1>this is the list of my dream company </h1>

<ul>
{% for todo in dataset %}
<li>{{ todo.content }} </li>
{% endfor %}
</ul>
<form action="/addhome/" method="POST">{% csrf_token %}
<input type="text " name="name"/>
<input type="submit" value="Add"/>
</form>
<form action="/addhome/" method="GET">{% csrf_token %}
<input type="text" name="data"/>
<input type="submit" value="POST"/>
</form>
<form action="/delete/" method="POST">{% csrf_token %}
<input type="text" name="del"/>
<inpuyt type="submit" value="DEL">
</form>